<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://www.cryptocompare.com/scripts/Vendor/AmCharts/amcharts.js"></script>
    <script src="https://www.cryptocompare.com/scripts/Vendor/AmCharts/serial.js"></script>
    <script src="https://www.cryptocompare.com/scripts/Vendor/AmCharts/amstock.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script src="chartUtil.js"></script>
</head>

<style>
    body {
        padding-top: 10%;
        background-color: rgb(30, 30, 30);
    }

    .panel-body {
        background-color: rgb(10, 10, 10);
    }

    .charts {
        width: 300px;
        height: 200px;
    }
</style>

<body ng-controller="myController">
    <div class="container" ng-controller="myController">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel-group">
                    <div class="panel panel-info">
                        <div class="panel-heading text-center">Crytpocharts<br>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="charts" id="priceChart1"></div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="charts" id="priceChart2"></div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="charts" id="priceChart3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row btn-row">
                            <div class="col-xs-offset-3 col-xs-6">
                                 "EUR-LTC"
                                <a ng-click="getHistoData(0,1)" class="btn btn-primary">1 H</a>
                                <a ng-click="getHistoData(1,1)" class="btn btn-primary">1 D</a>
                                <a ng-click="getHistoData(2,1)" class="btn btn-primary">1 W</a>
                                <a ng-click="getHistoData(3,1)" class="btn btn-primary">1 M</a>
                                <a ng-click="getHistoData(4,1)" class="btn btn-primary">3 M</a>
                                <a ng-click="getHistoData(5,1)" class="btn btn-primary">6 M</a>
                                <a ng-click="getHistoData(6,1)" class="btn btn-primary">1 Y</a>
                            </div>
                            <div class="col-xs-offset-3 col-xs-6">
                                "USD-ETH"
                                <a ng-click="getHistoData(0,2)" class="btn btn-danger">1 H</a>
                                <a ng-click="getHistoData(1,2)" class="btn btn-danger">1 D</a>
                                <a ng-click="getHistoData(2,2)" class="btn btn-danger">1 W</a>
                                <a ng-click="getHistoData(3,2)" class="btn btn-danger">1 M</a>
                                <a ng-click="getHistoData(4,2)" class="btn btn-danger">3 M</a>
                                <a ng-click="getHistoData(5,2)" class="btn btn-danger">6 M</a>
                                <a ng-click="getHistoData(6,2)" class="btn btn-danger">1 Y</a>
                            </div>
                            <div class="col-xs-offset-3 col-xs-6">
                                "DOGE-BSD"
                                <a ng-click="getHistoData(0,3)" class="btn btn-info">1 H</a>
                                <a ng-click="getHistoData(1,3)" class="btn btn-info">1 D</a>
                                <a ng-click="getHistoData(2,3)" class="btn btn-info">1 W</a>
                                <a ng-click="getHistoData(3,3)" class="btn btn-info">1 M</a>
                                <a ng-click="getHistoData(4,3)" class="btn btn-info">3 M</a>
                                <a ng-click="getHistoData(5,3)" class="btn btn-info">6 M</a>
                                <a ng-click="getHistoData(6,3)" class="btn btn-info">1 Y</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>